<div class="row">
  <div class="col-md-5">
    <app-recipie-list
      (recipeWasClicked)="clickedRecipe = $event"
    ></app-recipie-list>
  </div>
  <div class="col-md-7">
    <ng-template #infoText>
      <p>Please select recipe</p>
    </ng-template>
    <app-recipie-detail
      *ngIf="clickedRecipe; else infoText"
      [recipe]="clickedRecipe"
    >
    </app-recipie-detail>
  </div>
</div>
