<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <app-recipies *ngIf="loadedFeature === 'recipe'"></app-recipies>
    <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
  </div>
</div>
