<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success mt-2">New Recipe</button>
  </div>
  <hr class="mt-2" />
  <div class="row">
    <div class="col-md-12">
      <app-recipie-item
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl"
        (clickRecipe)="onRecipeSelected(recipeEl)"
      ></app-recipie-item>
    </div>
  </div>
</div>
