<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img
        src="{{ recipe.imagePath }}"
        alt=""
        class="img-fluid"
        style="max-height: 300px"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <!-- <button class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="carret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">To Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul> -->
        <button
          class="btn btn-primary dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Manage Recipe <span class="carret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">To Shopping List</a></li>
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">{{ recipe.description }}</div>
  </div>
  <div class="row">
    <div class="col-md-12">Ingredients</div>
  </div>
</div>
