<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #nameInput />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" id="amount" class="form-control" #amountInput />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a
            href="#"
            class="btn btn-success"
            type="submit"
            (click)="onAddIngredient()"
          >
            Add
          </a>
          <a href="#" class="btn btn-danger">Delete Item</a>
          <a href="#" class="btn btn-warning">Clear From</a>
        </div>
      </div>
    </form>
  </div>
</div>
